#app {
  margin-bottom: 10px;
}

#tabs {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-toolbar {
  padding: 10px;
}

.tab-content {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
}

.table {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.table thead {
  background-color: #f8f8f8;
}

.navbar {
  border-color: white;
}

.navbar-items {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

textarea {
   resize: none;
}

#btn-restart-server {
  margin-top: 15px;
}

.notification-bar {
  background-color: rgba(42, 42, 42, 0.8) !important;
}

.notification-bar-wrapper {
  padding: 10px;
}

.notification-bar-message {
  font-size: 14px;
}

.icon {
  padding-right: 10px;
}

.dashboard-units {
  padding: 0 10px;
}

.dashboard-unit {
  padding-top: 10px;
  margin-bottom: 15px;
}

.dashboard-unit-header {
  padding-bottom: 10px;
}

.device-title {
  font-size: 18px;
  font-weight: 500;
}

.device-path {
  font-size: 12px;
}

.special-header {
  font-weight: 600;
  font-size: 14px;
}

.device-current-value {
  font-weight: 600;
  font-size: 16px;
}

.btn-width {
  margin-top: 14px;
  width: 100%;
  max-width: 100px;
  min-width: 65px;
}
